### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
purchase_data_csv = "./Resources/purchase_data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(purchase_data_csv)
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
# Checking for missing values
# Source: https://stackoverflow.com/questions/26266362/how-to-count-the-nan-values-in-a-column-in-pandas-dataframe
purchase_df.isna().sum()

Purchase ID    0
SN             0
Age            0
Gender         0
Item ID        0
Item Name      0
Price          0
dtype: int64

## Player Count

* Display the total number of players

In [5]:
# Count of unique players
player_count = len(purchase_df["SN"].unique())

# Creating dataframe for total player count
player_count_df = [{"Total Players": player_count}]
player_count_df = pd.DataFrame(player_count_df)

# Display
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Number of unique items sold
number_unique_items = len(purchase_df["Item ID"].unique())
number_unique_items

179

In [7]:
# Average price of items sold
avg_price = purchase_df["Price"].mean()

## Format
avg_price = '${:,.2f}'.format(avg_price)
avg_price

'$3.05'

In [8]:
# Number of total items purchased
number_purchases = purchase_df["Purchase ID"].count()
number_purchases

780

In [9]:
# Total Revenue
revenue = purchase_df["Price"].sum()

## Format
revenue = '${:,.2f}'.format(revenue)
revenue

'$2,379.77'

In [10]:
#Display
purchase_analysis = [{"Number of Unique Items": number_unique_items, 
                    "Average Prices": avg_price,
                    "Number of Purchases": number_unique_items,
                    "Total Revenue": revenue}]
purchase_analysis_df = pd.DataFrame(purchase_analysis)
purchase_analysis_df

   Number of Unique Items Average Prices  Number of Purchases Total Revenue
0                     179          $3.05                  179     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
# Checking Gender values
purchase_df["Gender"].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [12]:
# Removing duplicates on SN column
unique_df = purchase_df.drop_duplicates(subset=['SN'])
unique_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [13]:
# Percentage and Count of Male Players
# Count
gender_group = unique_df.groupby("Gender")
gender = gender_group["Gender"].count()
male_count = gender["Male"]
male_count

#Percentage
male_percent = male_count/player_count
male_per_format = '{:,.2%}'.format(male_percent)
male_per_format

'84.03%'

In [14]:
# Percentage and Count of Female Players
# Count
female_count = gender["Female"]
female_count

#Percentage
female_percent = female_count/player_count
female_per_format = '{:,.2%}'.format(female_percent)
female_per_format

'14.06%'

In [15]:
# Percentage and Count of Other / Non-Disclosed
# Count
other_count = gender["Other / Non-Disclosed"]
other_count

#Percentage
other_percent = other_count/player_count
other_per_format = '{:,.2%}'.format(other_percent)
other_per_format

'1.91%'

In [57]:
# Gender Demographics Display
gender_demo = ({"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                    "Total Count": [male_count, female_count, other_count],
                    "Percentage of Players": [male_per_format, female_per_format, other_per_format]})
gender_demo_df = pd.DataFrame(gender_demo)
gender_demo_df = gender_demo_df.set_index("Gender")
gender_demo_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
# Purchase Count by Gender
purch_gender_group = purchase_df.groupby("Gender")
purch_gender = purch_gender_group["Gender"].count()

purch_gender

# # Male Purchase Count
# purch_male_count = purch_gender["Male"]
# purch_male_count

# # Female Purchase Count
# purch_female_count = purch_gender["Female"]
# purch_female_count

# # Other / Non-Disclosed Purchase Count
# purch_other_count = purch_gender["Other / Non-Disclosed"]
# purch_other_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [21]:
# Average Purchase Price by Gender
avg_price_gender = purch_gender_group["Price"].mean()
avg_price_gender

# # Male 
# avg_price_male = avg_price_gender["Male"]
# avg_price_male = '${:,.2f}'.format(avg_price_male)

# # Female 
# avg_price_female = avg_price_gender["Female"]
# avg_price_female = '${:,.2f}'.format(avg_price_female)

# # Other / Non-Disclosed 
# avg_price_other = avg_price_gender["Other / Non-Disclosed"]
# avg_price_other = '${:,.2f}'.format(avg_price_other)

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [23]:
# Total Purchase Value by Gender
total_purch_gender = purch_gender_group["Price"].sum()
total_purch_gender

# # Male 
# total_purch_male = total_purch_gender["Male"]
# total_purch_male = '${:,.2f}'.format(total_purch_male)

# # Female 
# total_purch_female = total_purch_gender["Female"]
# total_purch_female = '${:,.2f}'.format(total_purch_female)

# # Other / Non-Disclosed 
# total_purch_other = total_purch_gender["Other / Non-Disclosed"]
# total_purch_other = '${:,.2f}'.format(total_purch_other)

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [50]:
# Average Purchase Total per Person by Gender
group_SN = purchase_df.groupby(["Gender","SN"])
total_purch_SN = group_SN["Price"].sum()
total_purch_SN_df = pd.DataFrame{total_purch_SN}
total_purch_SN_df

# group_gender_SN = total_purch_SN.groupby("Gender")
# total_purch_gender_SN = group_gender_SN.mean()
# total_purch_gender_SN

# # Male 
# total_purch_male = total_purch_gender["Male"]
# total_purch_male = '${:,.2f}'.format(total_purch_male)

# # Female 
# total_purch_female = total_purch_gender["Female"]
# total_purch_female = '${:,.2f}'.format(total_purch_female)

# # Other / Non-Disclosed 
# total_purch_other = total_purch_gender["Other / Non-Disclosed"]
# total_purch_other = '${:,.2f}'.format(total_purch_other)

SyntaxError: invalid syntax (<ipython-input-50-34d313f0166c>, line 4)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame